In [1]:
# Read all tables in a root directory, get the columns in each

In [2]:
#TODO: Fix the readAttributes so it always returns list (even if there is only one attribute)

In [3]:
import wctablereader as tablereader
from glob import glob
import pandas as pd

import importlib

In [4]:
importlib.reload(tablereader)
tb = tablereader.TableReader("../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/BulkMolecules")
print(tb.columnNames())
df = tb.as_pandas("counts")

['atpRequested', 'atpAllocatedFinal', 'atpAllocatedInitial', 'counts']

In [6]:
#Sweep some output, see if/where there are problems
import warnings

tables = glob("../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/*")
for table in tables:
    first_error = True
    try: 
        tb = tablereader.TableReader(table)
        print(f"Success opening {table}")
    except: 
        print(f"!!!!Error opening {table}")
        continue
    for column in tb.columnNames():
        try: 
            warnings.filterwarnings("error")
            df = tb.as_pandas(column)
            warnings.filterwarnings("ignore")
        except Exception as e: 
            if first_error:
                print(f"Error reading column in {table}")
                first_error = False
            print(f"\tError on '{column}'")
            print("\t", e)

Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/Mass
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/FBAResults
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/ReplicationData
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/BulkMolecules
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/RnaDegradationListener
Error reading column in ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/RnaDegradationListener
	Error on 'countRnaDegraded'
	 No attributes match shape for countRnaDegraded.  Returning data without labels.
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/RibosomeData
!!!!Error opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/Daughter2
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/EnzymeKinetics
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/UniqueMolecules
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/RnaSynthProb
Error reading column in ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/RnaSynthProb
	Error on 'nActualBound'
	 No attributes match shape for nActualBound.  Returning data without labels.
	Error on 'pPromoterBound'
	 No attributes match shape for pPromoterBound.  Returning data without labels.
	Error on 'nPromoterBound'
	 No attributes match shape for nPromoterBound.  Returning data without labels.
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/RnapData
Error reading column in ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/RnapData
	Error on 'ntpCountInSequence'
	 Cannot load full column; data size varies
	Error on 'ntpCounts'
	 Cannot load full column; data size varies
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/CellDivision
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/GrowthLimits
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/UniqueMoleculeCounts
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/Environment
Error reading column in ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/Environment
	Error on 'nutrients'
	 not enough values to unpack (expected 2, got 1)
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/Main
Error reading column in ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/Main
	Error on 'time'
	 object of type 'float' has no len()
	Error on 'timeStepSec'
	 object of type 'float' has no len()
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/TranscriptElongationListener
Error reading column in ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/TranscriptElongationListener
	Error on 'countRnaSynthesized'
	 No attributes match shape for countRnaSynthesized.  Returning data without labels.
!!!!Error opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/Daughter1
Success opening ../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/EvaluationTime

In [33]:
tb = tablereader.TableReader("../../WCOutputs/wildtype_000000/000000/generation_000000/000000/simOut/FBAResults")
tb.columnNames()

['simulationStep',
 'targetConcentrations',
 'succinate_flux_sensitivity',
 'externalExchangeFluxes',
 'time',
 'objectiveValue',
 'reducedCosts',
 'reactionFluxes',
 'isocitrate_flux_sensitivity',
 'homeostaticObjectiveValues',
 'kineticObjectiveValues',
 'deltaMetabolites',
 'shadowPrices']

In [37]:
tb.as_pandas("externalExchangeFluxes")

,ACET[p],AMMONIUM[c],BETAINE[p],BUTANAL[c],CA+2[p],CARBON-DIOXIDE[p],CARBON-MONOXIDE[p],CH33ADO[c],CL-[p],CO+2[p],...,S-ADENOSYL-4-METHYLTHIO-2-OXOBUTANOATE[c],SUC[p],SULFATE[p],THYMINE[p],UNDECAPRENYL-DIPHOSPHATE[p],URACIL[p],UREA[p],WATER[p],XANTHINE[p],ZN+2[p]
0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,0.0,0.000000
1,-0.0,-12.906195,0.0,0.0,-0.219226,22.165272,0.007560,-0.0,-0.209684,-0.009183,...,0.001700,-0.0,-2.051496,0.0,0.000000,-0.0,0.0,287.528753,-0.0,-0.021913
2,-0.0,-14.038226,-0.0,-0.0,0.000042,14.982359,0.000068,-0.0,0.000015,-0.000059,...,0.000000,-0.0,-0.119526,-0.0,0.000267,-0.0,-0.0,197.452434,-0.0,-0.000030
3,-0.0,-6.054397,-0.0,-0.0,-0.000032,29.206674,-0.000000,-0.0,0.000015,0.000015,...,0.000000,-0.0,-0.116480,-0.0,0.000468,-0.0,-0.0,161.462264,-0.0,0.000044
4,-0.0,-6.884775,-0.0,-0.0,0.000041,37.138720,-0.000000,-0.0,0.000014,-0.000059,...,0.000000,-0.0,-0.110465,-0.0,0.000468,-0.0,-0.0,99.973080,-0.0,0.000044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
672,-0.0,-7.697869,-0.0,-0.0,-0.007545,29.533285,0.000270,-0.0,-0.007254,-0.000308,...,0.000059,-0.0,-0.180657,-0.0,0.010592,-0.0,-0.0,-71.948301,-0.0,-0.000778
673,-0.0,-8.033295,-0.0,-0.0,-0.007485,29.544827,0.000259,-0.0,-0.007212,-0.000325,...,0.000059,-0.0,-0.181696,-0.0,0.010518,-0.0,-0.0,-70.242888,-0.0,-0.000749
674,-0.0,-8.110883,-0.0,-0.0,-0.007523,29.625022,0.000250,-0.0,-0.007253,-0.000314,...,0.000060,-0.0,-0.180159,-0.0,0.010560,-0.0,-0.0,-70.492354,-0.0,-0.000766
675,-0.0,-8.039572,-0.0,-0.0,-0.007581,29.695843,0.000271,-0.0,-0.007298,-0.000320,...,0.000047,-0.0,-0.182291,-0.0,0.010641,-0.0,-0.0,-71.560920,-0.0,-0.000760
676,-0.0,-7.791644,-0.0,-0.0,-0.007595,29.625738,0.000264,-0.0,-0.007326,-0.000313,...,0.000049,-0.0,-0.176880,-0.0,0.010674,-0.0,-0.0,-72.550365,-0.0,-0.000771